doctype html
html
    head
        meta(charset= 'utf-8')
        meta(http-equiv= 'X-UA-Compatible', content= 'IE=edge')
        meta(name= 'viewport', content= 'width=device-width, initial-scale=1')
        meta(name= 'description', content= "Matt Mercedes' Blog")
        meta(name= 'author', content= 'Matt Mercedes')

        title Matt Mercedes' Blog

        link(href= 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel= 'stylesheet')
        link(href= '../blog/css/blog.css', rel= 'stylesheet')



    body
        div.site-wrapper
            div.site-wrapper-inner
                div.container-fluid
                    div.page-header
                        h1 <a href="http://mattmercedes.me"><span style="color:#E6DB74;">M</span><span style="color:#F92672">M</span></a><a href="http://mattmercedes.me/blog"><small>.blog</small></a>

                div.container-fluid
                    div.list-group
                        - each post in posts
                            a.list-group-item(href= 'posts/'+ post.url)
                                h4.list-group-item-heading= post.title
                                p.list-group-item-text!= post.preview

                    ul.pager
                        li
                            a(href= 'http://mattmercedes.me/blog/page/'+ offsetp) Prev
                        li
                            a(href= 'http://mattmercedes.me/blog/page/'+ offsetn) Next

        script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src= 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
