doctype html
html
    head
        meta(charset= 'utf-8')
        meta(http-equiv= 'X-UA-Compatible', content= 'IE=edge')
        meta(name= 'viewport', content= 'width=device-width, initial-scale=1')
        meta(name= 'description', content= "Matt Mercedes' Blog")
        meta(name= 'author', content= 'Matt Mercedes')

        title Matt Mercedes' Blog

        link(href= 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel= 'stylesheet')
        link(href= '../blog/css/blog.css', rel= 'stylesheet')



    body
        div.page-header
            h1 Example page header <small>Subtext for header</small>

        div.site-wrapper
            div.site-wrapper-inner
                div.list-group
                    - each post in posts
                        a.list-group-item(href= 'posts/'+ post.url)
                            h4.list-group-item-heading= post.title
                            p.list-group-item-text!= post.preview

                ul.pager
                    li
                        a(href= '#') Prev
                    li
                        a(href= '#') Next

        script(src= 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src= 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
